/* Estilos base */
body {
    font-family: Arial, sans-serif;
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 4%, rgba(0, 100, 120, 1) 46%, rgba(2, 138, 166, 1) 90%);
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 4%, rgba(0, 100, 120, 1) 46%, rgba(2, 138, 166, 1) 90%);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 4%, rgba(0, 100, 120, 1) 46%, rgba(2, 138, 166, 1) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: #c2c2c296;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 4px 4px black;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    padding: 0 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 5px 0;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#export-btn {
    margin-top: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    overflow-x: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f0f4f8;
}

/* Estilos responsivos */

/* Para tablets (768px ou menos) */
@media screen and (max-width: 768px) {
    .container {
        padding: 15px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }

    #export-btn {
        width: 100%;
    }
}

/* Para dispositivos móveis (480px ou menos) */
@media screen and (max-width: 480px) {
    .container {
        padding: 10px;
    }

    h1, h2 {
        font-size: 18px;
    }

    .form-group {
        padding: 0 10px;
    }

    input, textarea, button {
        font-size: 14px;
        padding: 0 0;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        display: block;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #007bff;
        color: white;
        text-align: center;
    }

    tr {
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        padding: 12px;
    }
}
